html {
    height: 100%;
    cursor: pointer;
}

body {
    margin: 0px;
    height: 100%;
    user-select: none;
}

#chrono {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}

.step:nth-child(1) {
    background-color: #FED700; /* FE218B */
    flex: 2;
}


.step:nth-child(2) {
    background-color: #21B0FE; /* FED700 */
    flex: 2;
}

/*
.step:nth-child(3) {
    background-color: #21B0FE;
    flex: 1;
}*/

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.5vh;
    color: white;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: white;
    opacity: 0.6;
    pointer-events: none;
}